.DS_Store
.classpath
.project
.settings
.gradle
build-eclipse
build
target
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/